*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body, .container{
    min-height: 100vh;

    padding-bottom: 60px;
}

.header{
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-size: 38px;
}

.section{
    height: 470px;

    display: grid;
    align-content: start;
    grid-row-gap: 20px;

}

.section > *{
    width: 500px;

}

.section-header{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
}

.section__title{
    font-family: 'Inconsolata';
    font-size: 30px;
}

.login-section > *{
    color: white;
}

.login-section{
    background-color: #000;

    padding-left: 30px;
}

.register-section{
    justify-content: end;

    padding-right: 30px;
}

.form{
    display: grid;
    justify-items: center;

    height: 300px;
}

.login-section .form{
    grid-template-rows: 50px 50px 30px;
    grid-row-gap: 10px;
}

.register-section .form{
    grid-template-rows: 50px 50px 50px 30px;
    grid-row-gap: 10px;
}

.login-section .form__input{
    background-color: #000;
    color: white;

    border: 2px solid white;
}

.register-section .form__input{
    border: 2px solid black;
}

.form__input{
    font-weight: bold;

    border: 0 none;
    text-align: center;
    width: 100%;

    border-radius: 4px;
}

.register-section .form__submit{
    background-color: white; 
}

.form__submit{
    width: 150px;
}

.form__submit:hover{
    cursor: pointer;
}

.form__input:focus{
    outline: none;
}

