*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body, .container{
    min-height: 100vh;
}

.header{
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-size: 38px;
}

.section{
    height: 470px;
}

.section > *{
    width: 500px;
}

.section-header{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
}

.section__title{
    font-family: 'Inconsolata';
    font-size: 30px;
}

.login-section > *{
    color: white;
}

.login-section{
    background-color: #000;
}

.form__input{
    border: 0 none;
    text-align: center;
}

